{{template "base/base.html" .}}
{{template "base/common.html" .}}

{{define "head"}}
<script type="text/javascript">
	$("input[placeholder]").each(function () { $(this).attr('size', $(this).attr('placeholder').length); });

	function test(){
		$.ajax({
			url:'/test',
			data: {
				'name': $("#name").text(),
				'host': $("#host").text(),
				'username': $("#username").text(),
				'dbname': $("#dbname").text(),
				'passwd': $("#passwd").text(),
			},
			dataType: 'json',
			success: function(content) {
				if (content['err']) {
					alert("failed: "+content['err'])
				} else {
				alert("success: "+content['status']);
			}
			}
		})
	}
</script>
{{end}}

{{define "body"}}
<div class="col-md-10">
{{if .flash.ErrAdd}}
<div class="text-center">
	<p class="bg-error">
	{{.flash.ErrAdd}}
	</p>
</div>
{{end}}
<form method="POST" role="form">
	{{.XsrfFormHtml}}
	<div class="form-group">
	{{i18n .Lang "db_name"}}<input id="name" name="name" placeholder="{{i18n .Lang "input_db_name"}}"/>
	</div>
	<div class="form-group">
	{{i18n .Lang "db_type"}}
	<select id="driver" name="driver">
		{{range .dbs}}
		<option value="{{.}}">{{.}}</option>
		{{end}}
	</select>
	</div>
	<div class="form-group">
	{{i18n .Lang "database_host"}}<input id="host" name="host" placeholder="{{i18n .Lang "database_host_hint"}}"/>
	</div>
	<div class="form-group">
	{{i18n .Lang "database_port"}}<input id="port" name="port" value="3306" placeholder="3306"/>
	</div>
	<div class="form-group">
	{{i18n .Lang "database_dbname"}}<input id="dbname" name="dbname" placeholder="{{i18n .Lang "database_dbname_hint"}}"/>
	</div>
	<div class="form-group">
	{{i18n .Lang "database_username"}}<input id="username" name="username" placeholder="{{i18n .Lang "database_username_hint"}}"/>
	</div>
	<div class="form-group">
	{{i18n .Lang "database_password"}}<input id="passwd" type="password" name="passwd" placeholder="{{i18n .Lang "database_password_hint"}}"/>
	</div>
	<div class="form-group">
	<input type="submit" value="{{i18n .Lang "save"}}" class="btn btn-primary" />
	<!--<a href="javascript:test();" class="btn btn-warning">测试</a>-->
	</div>
</form>
</div>
<div>
</div>
{{end}}