{{template "base/base.html" .}}
{{template "base/common.html" .}}

{{define "body"}}
<div class="col-md-10">
{{if .flash.ErrAdd}}
<div class="text-center">
	<p class="bg-error">
	{{.flash.ErrAdd}}
	</p>
</div>
{{end}}
<form method="POST" role="form">
{{.XsrfFormHtml}}
<div class="form-group">
{{i18n .Lang "db_name"}}<input name="name" placeholder="{{i18n .Lang "input_db_name"}}"/>
</div>
<div class="form-group">
{{i18n .Lang "db_type"}}
<select name="driver">
{{range .dbs}}
<option value="{{.}}">{{.}}</option>
{{end}}
</select>
</div>
<div class="form-group">
{{i18n .Lang "database_connstr"}}<input name="data_source" placeholder="{{i18n .Lang "database_connstr_hint"}}"/>
</div>
<div class="form-group">
<input type="submit" value="{{i18n .Lang "save"}}" class="btn btn-primary" />
</div>
</form>
</div>
<div>
</div>
{{end}}