{{template "base/base.html" .}}

{{define "head"}}
{{end}}

{{define "nav"}}
{{template "base/nav.html" .}}
{{end}}

{{define "left"}}
{{end}}

{{define "body"}}
<div class="text-center">
<div class="col-md-4 col-md-offset-4">
<h1>
{{i18n .Lang "login_title"}}
</h1>
<br/>
	{{if .flash.AuthError}}
      <div class="alert alert-danger">
        	<p>{{.flash.AuthError}}</p>
    	</div>
    {{end}}
<form method="POST" role="form" action="/login"{{if .Error}} class="has-error"{{end}}>
{{.XsrfFormHtml}}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">{{i18n .Lang "login_name"}}</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="user" id="inputEmail3" placeholder="{{i18n .Lang "login_name_hint"}}" value="{{.flash.user}}">
    </div>
  </div>
  <br/><br/><br/>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">{{i18n .Lang "password"}}</label>
    <div class="col-sm-9">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="{{i18n .Lang "password_hint"}}">
    </div>
  </div>
  <br/><br/>
  <div class="form-group">
    <label for="inputCaptcha" class="col-sm-3 control-label">{{i18n .Lang "captcha"}}</label>
    <div class="col-sm-9">
      <input type="text" name="captcha" class="form-control col-sm-1" id="inputPassword3">
    </div>
  </div>
  <div class="form-group">
  {{.captcha}}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> {{i18n .Lang "remember_pass"}}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{i18n .Lang "login"}}&nbsp; <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
    </div>
  </div>
</form>
</div>
</div>
{{end}}

{{define "footer"}}
{{template "base/footer.html" .}}
{{end}}